<div>
  <header-component></header-component>
  <swiper-carrusel></swiper-carrusel>
  <div class="w-full h-40 flex items-center justify-center">
    <span>Filters</span>
  </div>
  <div class="w-full px-5 grid grid-cols-1 gap-10 py-4
    sm:grid-cols-1 sm:px-10
    md:grid-cols-2
    lg:grid-cols-3
    xl:grid-cols-4"
  >
    <div
      class="min-h-[430px] max-h-[550px] bg-white rounded-md shadow-xl flex flex-col overflow-hidden"
      *ngFor="let courses of coursesData; let i = index"
    >
      <!-- overflow-hidden contener todo con bordes -->
      <div class="w-full h-40">
        <img class="w-full h-full object-cover" [src]="courses.imgage" />
      </div>
      <div
        class="w-full px-4 flex items-center justify-center p-3 font-semibold text-blue-primary"
      >
        <p>{{courses.title}} {{i}}</p>
      </div>
      <div class="w-full flex-1 px-4 text-justify">
        <p>{{courses.description}}</p>
      </div>
      <div class="w-full h-14 px-4 flex items-center justify-between">
        <div class="flex">
          <div class="w-auto px-1" *ngFor="let calification of [1, 2, 3, 4, 5]">
            <svg class="w-5 h-5" viewBox="0 0 20 20" [ngClass]="{ 'fill-hellow-primary': calification <= courses.calification, 'fill-gray-300': calification > courses.calification }">
              <path
                d="M11.7376 1.43603L13.5003 4.96126C13.7378 5.4488 14.3753 5.91133 14.9129 6.01133L18.1006 6.53637C20.1382 6.87389 20.6132 8.34905 19.1506 9.82414L16.663 12.3118C16.2504 12.7243 16.0129 13.5369 16.1504 14.1244L16.863 17.1996C17.4255 19.6248 16.1254 20.5748 13.9878 19.2998L11.0001 17.5246C10.4626 17.1996 9.5625 17.1996 9.02497 17.5246L6.03727 19.2998C3.89957 20.5623 2.59949 19.6248 3.16202 17.1996L3.87457 14.1244C3.98708 13.5244 3.74956 12.7118 3.33703 12.2993L0.849372 9.81164C-0.613223 8.34905 -0.138192 6.87389 1.89944 6.52387L5.08721 5.99883C5.62475 5.91133 6.26229 5.4363 6.4998 4.94876L8.26242 1.42353C9.22498 -0.47659 10.7751 -0.47659 11.7376 1.43603Z"/>
            </svg>
          </div>
        </div>
        <div>
          <span *ngIf="courses.price != courses.pricePromotional" class="pr-2 line-through text-red-800">S/{{courses.price.toFixed(2)}}</span>
          <span *ngIf="courses.price != courses.pricePromotional" class="text-[25px] text-blue-primary font-semibold">S/{{courses.pricePromotional.toFixed(2)}}</span>
          <span *ngIf="courses.price == courses.pricePromotional" class="text-[25px] text-blue-primary font-semibold">S/{{courses.price.toFixed(2)}}</span>
        </div>
      </div>
      <!-- <course-container ></course-container> -->
    </div>
  </div>

  <div class="w-full p-5 flex justify-center items-center">
    <button class="px-5 py-2 bg-blue-primary text-white rounded-md hover:bg-blue-hover cursor-pointer transition-all duration-300" routerLink="/list-of-courses">
      Ver mas cursos
    </button>
  </div>
  <news-page></news-page>
  <footer-component></footer-component>
</div>
