<div class="w-full flex flex-col items-center justify-center pt-5">
  <div class="w-full flex justify-center items-center text-center">
    <span class="text-5xl text-default-blue-primary font-bold dark:text-dark-white-primary transition-colors duration-500 ">Historias de éxito</span>
  </div>
  <div class="w-full flex items-center justify-center px-5 pt-8 pb-14">
    <span class="text-xl text-gray-400">¡Ayudando a muchas personas a crear futuros brillantes y vidas de éxito!</span>
  </div>
  <div class="w-full px-5 pb-2
    sm:px-5
    md:px-10
    lg:px-14
    xl:px-32
    2xl:px-36">
    <!-- autoplay-delay="5000" -->
    <swiper-container class="mySwiper" pagination="true"  effect="coverflow" grab-cursor="true" centered-slides="true"
    pagination-clickable="true" keyboard="true" autoplay-delay="5000"
    slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
      <swiper-slide class="w-[680px]">
        <div class="h-[420px] w-[680px] rounded-xl flex overflow-hidden shadow-xl bg-default-white-primary text-black
        dark:bg-dark-blue-primary dark:text-dark-white-primary transition-colors duration-500 ">
          <div class="min-w-[300px] h-[420px]">
            <img class="w-full h-full object-cover" src="https://cdn0.matrimonio.com.pe/article/4323/3_2/1280/png/43234-c5870-por.jpeg">
          </div>
          <div class="p-5 flex flex-col">
            <span class="font-semibold text-3xl text-justify pb-4">Mark Kublert Dontles Black</span>
            <div class="flex-1">
              <p class="text-lg text-justify">Mark es jefe de marketing digital de la compañía Meta. Quien inicio llevando un curso en esta plataforma.</p>
            </div>
            <div class="w-full flex items-center justify-center p-6">
              <div class="w-auto px-1" *ngFor="let calification of [1, 2, 3, 4, 5]">
                <svg class="w-5 h-5" viewBox="0 0 20 20" [ngClass]="{ 'fill-default-hellow-primary': calification <= 3, 'fill-gray-300': calification > 3 }">
                  <path
                    d="M11.7376 1.43603L13.5003 4.96126C13.7378 5.4488 14.3753 5.91133 14.9129 6.01133L18.1006 6.53637C20.1382 6.87389 20.6132 8.34905 19.1506 9.82414L16.663 12.3118C16.2504 12.7243 16.0129 13.5369 16.1504 14.1244L16.863 17.1996C17.4255 19.6248 16.1254 20.5748 13.9878 19.2998L11.0001 17.5246C10.4626 17.1996 9.5625 17.1996 9.02497 17.5246L6.03727 19.2998C3.89957 20.5623 2.59949 19.6248 3.16202 17.1996L3.87457 14.1244C3.98708 13.5244 3.74956 12.7118 3.33703 12.2993L0.849372 9.81164C-0.613223 8.34905 -0.138192 6.87389 1.89944 6.52387L5.08721 5.99883C5.62475 5.91133 6.26229 5.4363 6.4998 4.94876L8.26242 1.42353C9.22498 -0.47659 10.7751 -0.47659 11.7376 1.43603Z"/>
                </svg>
              </div>
            </div>
            <div class="w-full flex items-center justify-center">
              <span class="hover:text-default-hellow-primary cursor-pointer font-medium transition-all duration-300">Ver historia</span>
            </div>
          </div>
        </div>
        <br><br>
      </swiper-slide>

      <swiper-slide class="w-[680px]">
        <div class="h-[420px] w-[680px] rounded-xl flex overflow-hidden shadow-xl bg-default-white-primary text-black
        dark:bg-dark-blue-primary dark:text-dark-white-primary transition-colors duration-500 ">
          <div class="min-w-[300px] h-[420px]">
            <img class="w-full h-full object-cover" src="https://cdn.masmovil.es/embed/99970c12b9cc790832d681b046f1600774017/Empresarios-de-exito-a-los-que-deberias-seguir-en-Instagram.jpg?imagick=1&size=750">
          </div>
          <div class="p-5 flex flex-col">
            <span class="font-semibold text-3xl text-justify pb-4">Mark Kublert Dontles Black</span>
            <div class="flex-1">
              <p class="text-lg text-justify">Mark es jefe de marketing digital de la compañía Meta. Quien inicio llevando un curso en esta plataforma.</p>
            </div>
            <div class="w-full flex items-center justify-center p-6">
              <div class="w-auto px-1" *ngFor="let calification of [1, 2, 3, 4, 5]">
                <svg class="w-5 h-5" viewBox="0 0 20 20" [ngClass]="{ 'fill-default-hellow-primary': calification <= 3, 'fill-gray-300': calification > 3 }">
                  <path
                    d="M11.7376 1.43603L13.5003 4.96126C13.7378 5.4488 14.3753 5.91133 14.9129 6.01133L18.1006 6.53637C20.1382 6.87389 20.6132 8.34905 19.1506 9.82414L16.663 12.3118C16.2504 12.7243 16.0129 13.5369 16.1504 14.1244L16.863 17.1996C17.4255 19.6248 16.1254 20.5748 13.9878 19.2998L11.0001 17.5246C10.4626 17.1996 9.5625 17.1996 9.02497 17.5246L6.03727 19.2998C3.89957 20.5623 2.59949 19.6248 3.16202 17.1996L3.87457 14.1244C3.98708 13.5244 3.74956 12.7118 3.33703 12.2993L0.849372 9.81164C-0.613223 8.34905 -0.138192 6.87389 1.89944 6.52387L5.08721 5.99883C5.62475 5.91133 6.26229 5.4363 6.4998 4.94876L8.26242 1.42353C9.22498 -0.47659 10.7751 -0.47659 11.7376 1.43603Z"/>
                </svg>
              </div>
            </div>
            <div class="w-full flex items-center justify-center">
              <span class="hover:text-default-hellow-primary cursor-pointer font-medium transition-all duration-300">Ver historia</span>
            </div>
          </div>
        </div>
        <br><br>
      </swiper-slide>

      <swiper-slide class="w-[680px]">
        <div class="h-[420px] w-[680px] rounded-xl flex overflow-hidden shadow-xl bg-default-white-primary text-black
        dark:bg-dark-blue-primary dark:text-dark-white-primary transition-colors duration-500 ">
          <div class="min-w-[300px] h-[420px]">
            <img class="w-full h-full object-cover" src="https://retos-directivos.eae.es/wp-content/uploads/2021/04/iStock-1211968241.jpg">
          </div>
          <div class="p-5 flex flex-col">
            <span class="font-semibold text-3xl text-justify pb-4">Mark Kublert Dontles Black</span>
            <div class="flex-1">
              <p class="text-lg text-justify">Mark es jefe de marketing digital de la compañía Meta. Quien inicio llevando un curso en esta plataforma.</p>
            </div>
            <div class="w-full flex items-center justify-center p-6">
              <div class="w-auto px-1" *ngFor="let calification of [1, 2, 3, 4, 5]">
                <svg class="w-5 h-5" viewBox="0 0 20 20" [ngClass]="{ 'fill-default-hellow-primary': calification <= 3, 'fill-gray-300': calification > 3 }">
                  <path
                    d="M11.7376 1.43603L13.5003 4.96126C13.7378 5.4488 14.3753 5.91133 14.9129 6.01133L18.1006 6.53637C20.1382 6.87389 20.6132 8.34905 19.1506 9.82414L16.663 12.3118C16.2504 12.7243 16.0129 13.5369 16.1504 14.1244L16.863 17.1996C17.4255 19.6248 16.1254 20.5748 13.9878 19.2998L11.0001 17.5246C10.4626 17.1996 9.5625 17.1996 9.02497 17.5246L6.03727 19.2998C3.89957 20.5623 2.59949 19.6248 3.16202 17.1996L3.87457 14.1244C3.98708 13.5244 3.74956 12.7118 3.33703 12.2993L0.849372 9.81164C-0.613223 8.34905 -0.138192 6.87389 1.89944 6.52387L5.08721 5.99883C5.62475 5.91133 6.26229 5.4363 6.4998 4.94876L8.26242 1.42353C9.22498 -0.47659 10.7751 -0.47659 11.7376 1.43603Z"/>
                </svg>
              </div>
            </div>
            <div class="w-full flex items-center justify-center">
              <span class="hover:text-default-hellow-primary cursor-pointer font-medium transition-all duration-300">Ver historia</span>
            </div>
          </div>
        </div>
        <br><br>
      </swiper-slide>

      <swiper-slide class="w-[680px]">
        <div class="h-[420px] w-[680px] rounded-xl flex overflow-hidden shadow-xl bg-default-white-primary text-black
        dark:bg-dark-blue-primary dark:text-dark-white-primary">
          <div class="min-w-[300px] h-[420px]">
            <img class="w-full h-full object-cover" src="https://www.euroresidentes.com/empresa/gestion/wp-content/uploads/sites/15/2007/10/empresarios-mediaticos.jpg">
          </div>
          <div class="p-5 flex flex-col">
            <span class="font-semibold text-3xl text-justify pb-4">Mark Kublert Dontles Black</span>
            <div class="flex-1">
              <p class="text-lg text-justify">Mark es jefe de marketing digital de la compañía Meta. Quien inicio llevando un curso en esta plataforma.</p>
            </div>
            <div class="w-full flex items-center justify-center p-6">
              <div class="w-auto px-1" *ngFor="let calification of [1, 2, 3, 4, 5]">
                <svg class="w-5 h-5" viewBox="0 0 20 20" [ngClass]="{ 'fill-default-hellow-primary': calification <= 3, 'fill-gray-300': calification > 3 }">
                  <path
                    d="M11.7376 1.43603L13.5003 4.96126C13.7378 5.4488 14.3753 5.91133 14.9129 6.01133L18.1006 6.53637C20.1382 6.87389 20.6132 8.34905 19.1506 9.82414L16.663 12.3118C16.2504 12.7243 16.0129 13.5369 16.1504 14.1244L16.863 17.1996C17.4255 19.6248 16.1254 20.5748 13.9878 19.2998L11.0001 17.5246C10.4626 17.1996 9.5625 17.1996 9.02497 17.5246L6.03727 19.2998C3.89957 20.5623 2.59949 19.6248 3.16202 17.1996L3.87457 14.1244C3.98708 13.5244 3.74956 12.7118 3.33703 12.2993L0.849372 9.81164C-0.613223 8.34905 -0.138192 6.87389 1.89944 6.52387L5.08721 5.99883C5.62475 5.91133 6.26229 5.4363 6.4998 4.94876L8.26242 1.42353C9.22498 -0.47659 10.7751 -0.47659 11.7376 1.43603Z"/>
                </svg>
              </div>
            </div>
            <div class="w-full flex items-center justify-center">
              <span class="hover:text-default-hellow-primary cursor-pointer font-medium transition-all duration-300">Ver historia</span>
            </div>
          </div>
        </div>
        <br><br>
      </swiper-slide>
    </swiper-container>
  </div>

  <br>
  <br>

  <div class="w-full bg-default-black-extra px-5 py-7 flex flex-row items-center justify-center dark:bg-dark-color-barra transition-colors duration-500 ">
    <div class="text-default-white-primary flex-1 flex items-center justify-center">
      <div class="w-full flex flex-col items-center justify-center">
        <span class="text-5xl text-default-hellow-primary font-bold pb-3">123</span>
        <span class="text-xl">Cursos Registrados</span>
      </div>
    </div>

    <div class="text-default-white-primary flex-1 flex">
      <div class="w-full flex flex-col items-center justify-center">
        <span class="text-5xl text-default-hellow-primary font-bold pb-3">572</span>
        <span class="text-xl">Historias de éxito</span>
      </div>
    </div>

    <div class="text-default-white-primary flex-1 flex">
      <div class="w-full flex flex-col items-center justify-center">
        <span class="text-5xl text-default-hellow-primary font-bold pb-3">04</span>
        <span class="text-xl">Comentarios</span>
      </div>
    </div>

    <div class="text-default-white-primary flex-1 flex">
      <div class="w-full flex flex-col items-center justify-center">
        <span class="text-5xl text-default-hellow-primary font-bold pb-3">01</span>
        <span class="text-xl">Años en el mercado</span>
      </div>
    </div>

  </div>
</div>
