<swiper-container [@moveRight] class="w-full h-[30vh]
  sm:h-[35vh]
  md:h-[40vh]
  lg:h-[40vh]
  xl:h-[40vh]
  2xl:h-[40vh]" navigation="true" pagination="true" keyboard="true" mousewheel="true"
    pagination-clickable="true" autoplay-delay="3500"
    css-mode="true">
  <swiper-slide><img class="w-full" src="../../../../assets/images/banners/banner-1.jpg"></swiper-slide>
  <swiper-slide><img class="w-full" src="../../../../assets/images/banners/banner-2.jpg"></swiper-slide>
  <swiper-slide><img class="w-full" src="../../../../assets/images/banners/banner-3.jpg"></swiper-slide>
  <swiper-slide><img class="w-full" src="../../../../assets/images/banners/banner-4.jpg"></swiper-slide>
  <swiper-slide><img class="w-full" src="../../../../assets/images/banners/banner-5.jpg"></swiper-slide>
</swiper-container>
